<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Cavin</title>
    <script type="text/javascript" src="/script/jquery.js"></script>
    <script type="text/javascript" src="/script/vue.js"></script>
</head>
<body>
    <a href="/"><- Retour à l'index</a>
    <div id="cellar">
        <h1>Créer une cave</h1>

        <p v-show="error">Une erreur est survenue...</p>
        <p v-show="done">La cave <strong>{{ addedCellar }}</strong> a été créée.</p>

        <form>
            <input type="text" v-model="label" placeholder="Nom de la cave" />
            <textarea v-model="description"></textarea>
            <input type="button" value="Créer" @click="save" />
        </form>

        <h1>Mes caves</h1>

        <p v-show="removed">La cave <strong>{{ removedCellar }}</strong> a été supprimée.</p>

        <ul>
            <li v-for="(cellar, i) in cellars" :key="i" style="margin : 20px auto;">
                <strong>{{ cellar.label }}</strong>
                | <em>{{ (cellar.description === null || cellar.description.trim().length === 0) ? '(aucune description)' : cellar.description }}</em>
                | <button @click="remove(cellar.id, i)">Supprimer</button>
                <hr />
                <form>
                    <input v-model="quantity[i]" type="text" placeholder="Qte" />
                    <select v-model="bottle[i]">
                        <option value="default" disabled selected>Vin</option>
                        <option v-for="bottle in bottles" :value="bottle.id">{{ bottle.label }}</option>
                    </select>
                    <input type="button" value="Ajouter" @click="add(cellar.id, quantity[i], bottle[i], i)" />
                </form>
                <ul>
                    <li v-for="(slot, j) in cellar.wines" :key="j">
                        <div :style="'display : inline-block; color : #' + slot.bottle.color.hexa + ';'">▉</div>
                        <strong>{{ slot.bottle.label }}</strong>, {{ slot.bottle.region.label }}, {{ slot.bottle.grape.label }} ({{ slot.bottle.year }})
                        <button @click="down(cellar.id, slot.id, i, j)" style="margin-left : 50px;">-</button><h2 style="display : inline-block; margin : 0 20px;">{{ slot.count }}</h2><button @click="up(cellar.id, slot.id, i)">+</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript">
    new Vue({
        el : '#cellar',

        data : {
            token : 0,

            addedCellar : '',
            removedCellar : '',
            error : false,
            done : false,
            removed : false,

            label : '',
            description : 'Description',
            quantity : [],
            bottle : [],
            bottles : [],
            cellars : []
        },

        methods : {
            resetMsg : function() {
                this.error = false;
                this.done = false;
                this.removed = false;
            },

            save : function() {
                this.resetMsg();

                if (this.label.trim().length === 0) {
                    this.error = true;
                    return;
                }

                let cellar = {
                    "label" : this.label,
                    "description" : this.description
                };

                $.ajax({
                    url : '/api/cellar?user=' + this.token,
                    type : 'POST',
                    data : JSON.stringify(cellar),
                    contentType : 'application/json',
                    success : (cellarAdded) => {
                        this.addedCellar = cellarAdded.label;
                        this.cellars.push(cellarAdded);
                        this.done = true;

                        this.quantity.push('');
                        this.bottle.push('default');
                    }
                });
            },

            remove : function(id, i) {
                this.resetMsg();

                $.ajax({
                    url : '/api/cellar/' + id + "?user=" + this.token,
                    type : 'DELETE',
                    success : (cellarRemoved) => {
                        this.removedCellar = cellarRemoved.label;
                        this.cellars = this.cellars.filter(c => {
                            return c.id !== cellarRemoved.id;
                        });
                        this.removed = true;

                        this.quantity.splice(i, 1);
                        this.bottle.splice(i, 1);
                    }
                });
            },

            add : function(id, qte, bottle, i) {
                let slot = {
                    "bottle" : bottle,
                    "count" : qte
                };

                $.ajax({
                    url : '/api/cellar/' + id + '?user=' + this.token,
                    type : 'POST',
                    data : JSON.stringify(slot),
                    contentType : 'application/json',
                    success : (slotAdded) => {
                        let found = false;
                        for (let slot of this.cellars[i].wines) {
                            if (slot.id === slotAdded.id) {
                                slot.count = slotAdded.count;
                                found = true;
                                break;
                            }
                        }

                        if (!found)
                            this.cellars[i].wines.push(slotAdded);
                    }
                });
            },

            up : function(id, slotId, i) {
                $.ajax({
                    url : '/api/cellar/' + id + "/up?user=" + this.token + '&slot=' + slotId,
                    type : 'PUT',
                    success : (slotUpdated) => {
                        for (let slot of this.cellars[i].wines) {
                            if (slot.id === slotUpdated.id) {
                                slot.count = slotUpdated.count;
                                break;
                            }
                        }
                    }
                });
            },

            down : function(id, slotId, i, j) {
                $.ajax({
                    url : '/api/cellar/' + id + "/down?user=" + this.token + '&slot=' + slotId,
                    type : 'PUT',
                    success : (slotUpdated) => {
                        for (let slot of this.cellars[i].wines) {
                            if (slot.id === slotUpdated.id) {
                                if (slotUpdated.count <= 0) {
                                    this.cellars[i].wines.splice(j, 1);
                                }
                                else {
                                    slot.count = slotUpdated.count;
                                }

                                break;
                            }
                        }
                    }
                });
            }
        },

        created : function() {
            this.token = 1;

            $.when($.get('/api/bottle'), $.get('/api/cellar?user=' + this.token)).then((bottles, cellars) => {
                this.bottles = bottles[0];
                this.cellars = cellars[0];

                this.cellars.forEach((v, i) => {
                   this.quantity[i] = '';
                   this.bottle[i] = 'default';
                });
            });
        }
    })
</script>
</html>